{% extends '_base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block head %}
<title>SyTech - {% trans 'Reset your password' %}</title>
{% endblock head %}

{% block content %}
<section class="main confirm-password container-fluid d-flex align-items-center">
    <div class="container justify-content-center py-4 py-md-0">
        <h1 class="text-center text-uppercase section-heading text-dark text-center">{% trans 'Reset your password' %}</h1>
        {% if validlink %}
        <form method="post">
            <p>{% trans 'Please enter your new password twice' %}:</p>
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="text-center">
                <button class="btn btn-primary my-4" type="submit">{% trans 'Change my password' %}</button>
            </div>
        </form>
        {% else %}
        <p>{% trans 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset' %}.</p>
        {% endif %}
    </div>
</section>
{% endblock content %}