{% extends '_base.html' %}
{% load i18n %}

{% block head %}
<title>SyTech - {% trans 'Password confirmed' %}</title>
{% endblock head %}

{% block content %}
<section class="main password-confirmed container-fluid d-flex align-items-center">
    <div class="container justify-content-center py-4 py-md-0">
        <h1 class="text-center">{% trans 'Password set' %}</h1>
        <p class="text-center">{% trans 'Your password has been set. You can' %} <a href="{% url 'users:login' %}">{% trans 'log in now' %}</a></p>
    </div>
</section>
{% endblock content %}