{% extends "_base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block head %}
<title>SyTech - {% trans 'Change password' %}</title>
{% endblock head %}

{% block content %}
<section class="main password-change container-fluid d-flex align-items-center px-0">
  <div class="container py-4 px-0">
    <form method="post" class="text-secondary card shadow p-4">
      <h3 class="text-dark mb-4 w-100">{% trans "Change password" %}</h3>

      {% csrf_token %}

      <div class="form-group m-0">
        {% bootstrap_field form.old_password %}
      </div>

      <div class="form-group m-0">
        {% if LANGUAGE_CODE == 'en' %}
        <span
          data-toggle="tooltip"
          data-placement="top"
          data-html="true"
          data-title="<div class='text-left'>The password must contain:<div class='text-left'>- at least 8 characters</div><div class='text-left'>- at least 1 digit</div></div>"
        >
          {% bootstrap_field form.new_password1 %}
        </span>
        {% endif %} {% if LANGUAGE_CODE == 'ru' %}
        <span
          data-toggle="tooltip"
          data-placement="top"
          data-html="true"
          data-container="body"
          data-title="<div class='text-left'>Пароль должен содержать:<div class='text-left'>- не менее 8 символов</div><div class='text-left'>- не менее 1 цифры</div></div>"
        >
          {% bootstrap_field form.new_password1 %}
        </span>
        {% endif %}
      </div>

      <div class="form-group m-0">
        {% bootstrap_field form.new_password2 %}
      </div>

      <div class="text-center">
        <button class="btn btn-primary mt-3" type="submit" name="action" disabled>
          {% trans "Change password" %}
        </button>
      </div>
    </form>

    <div class="popup-message-container shadow rounded-lg bg-white p-3" hidden>
        <span class="popup-message"></span>
        <a href={% url 'users:login' %} class="text-primary" hidden>{% trans 'Log in' %}</a>
    </div>
  </div>
</section>

<script>
  const submitButton = document.querySelector('button[type="submit"]')

  const oldPasswordInput = document.querySelector('input[name="old_password"')
  const newPasswordInputOne = document.querySelector('input[name="new_password1"')
  const newPasswordInputTwo = document.querySelector('input[name="new_password2"')

  function checkButtonActivity() {
    const inputAllFilled = oldPasswordInput.value && newPasswordInputOne.value && newPasswordInputTwo.value
    const newValuesMatch = (newPasswordInputOne.value === newPasswordInputTwo.value)

    if (inputAllFilled && newValuesMatch) {
      submitButton.removeAttribute("disabled")
    } else {
      submitButton.setAttribute("disabled", "true")
    }
  }

  checkButtonActivity()

  for (const input of [oldPasswordInput, newPasswordInputOne, newPasswordInputTwo]) {
    input.addEventListener('input', checkButtonActivity)
  }

  //
  // API request and Show popup message
  const popupMessageContainer = document.querySelector('.popup-message-container')
  const popupMessage = popupMessageContainer.querySelector('.popup-message')
  const popupMessageLink= popupMessageContainer.querySelector('a')

  function sendPassword() {
    const tokenInput = document.querySelector('input[name="csrfmiddlewaretoken"]')

    const url = "/api/v2/password/reset/"

    const options = {
      method: 'POST',
      headers:  {
        "X-CSRFToken": tokenInput.value,
        "Accept": "application/json",
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        "old_password": oldPasswordInput.value,
        "new_password1": newPasswordInputOne.value,
        "new_password2": newPasswordInputTwo.value
      })
    }

    return fetch(url, options)
  }

  submitButton.addEventListener('click', event => {
    event.preventDefault()

    sendPassword().then(res => res.json()
      .then(json => {
        popupMessageContainer.removeAttribute('hidden')

        if (res.status === 200) {
          popupMessageLink.removeAttribute('hidden')
          popupMessage.innerText = json.detail
        } else if (json.detail) {
          popupMessage.innerText = json.detail
        } else {
          popupMessage.innerText = "{% trans 'Connection Error. Reload page and try again.' %}"
        }
      }))
  })
</script>
{% endblock content %}
