{% extends '_base.html' %}
{% load i18n %}

{% block head %}
<title>Longevity InTime - {% trans 'Password changed' %}</title>
{% endblock head %}

{% block content %}
<section class="main password-changed container-fluid d-flex align-items-center">
	<div class="container transparent justify-content-center py-6 py-md-0 mx-auto px-lg-5">
        <h3 class="mb-0 text-left text-md-center text-secondary">
            {% trans 'Password changed' %}
        </h3>
        <p class="text-center">{% trans 'Your password has been successfully changed' %}</p>
	</div>
</section>
{% endblock content %}