{% extends "_base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% load static %}

{% block head %}
<title>SyTech - {% trans 'Password reset' %}</title>
{% endblock head %}

{% block content %}

<section class="main password-reset container-fluid d-flex align-items-center">
    <div class="container py-4 px-0 position-relative">
        <form method="post" class="card shadow p-4">
            <h3 class="text-dark mb-4 w-100">{% trans "Password reset" %}</h3>

            {% csrf_token %}

            {% if user.is_authenticated %}
                <div class="text-secondary mb-3 w-100">
                    {% trans 'You are logged in as ' %}<b>{{ user.email }}</b>
                </div>
            {% endif %}

            {% bootstrap_messages %}

            <input class="form-control" id="id_email" type="text"
              {% if user.is_authenticated %}
              value="{{ user.email }}"
              {% endif %}
              placeholder="{% trans 'Email' %}"
              aria-label="Email" name="email">

            <div class="text-center">
                <button class="btn btn-primary mt-4" type="submit" disabled>
                    {% trans 'Reset my password' %}
                </button>
            </div>
        </form>
    </div>

    <div class="popup-message-container shadow rounded-lg bg-white p-3" hidden>
        <span class="popup-message"></span>
        <a href={% url 'users:login' %} class="text-primary" hidden>{% trans 'Log in' %}</a>
    </div>
</section>

<script>
    // Check Submit button activity
    const submitButton = document.querySelector('button[type="submit"]')
    const emailInput = document.querySelector('#id_email')

    function checkButtonActivity() {
        if (emailInput.value) {
            submitButton.removeAttribute("disabled")
        } else {
            submitButton.setAttribute("disabled", "true")
        }
    }

    checkButtonActivity()

    emailInput.addEventListener('input', checkButtonActivity)

    //
    // API request and Show popup message
    const popupMessageContainer = document.querySelector('.popup-message-container')
    const popupMessage = popupMessageContainer.querySelector('.popup-message')
    const popupMessageLink= popupMessageContainer.querySelector('a')

    function sendPassword() {
      const url = "/api/v2/password/reset/"

      const options = {
        method: 'POST',
        headers:  {
          "Accept": "application/json",
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ "email": emailInput.value })
      }

      return fetch(url, options)
    }

    submitButton.addEventListener('click', event => {
      event.preventDefault()

      sendPassword().then(res => res.json()
        .then(json => {
          popupMessageContainer.removeAttribute('hidden')

          if (res.status === 200) {
            popupMessageLink.removeAttribute('hidden')
            popupMessage.innerText = json.detail
          } else if (json.detail) {
            popupMessage.innerText = json.detail
          } else {
            popupMessage.innerText = "{% trans 'Connection Error. Reload page and try again.' %}"
          }
        }))
    })
</script>
{% endblock content %}
